<app-header></app-header>

<mat-drawer-container class="example-container" style="height: auto !important; min-height: 563px;">
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <div class="loader-space" *ngIf="!productHistory">
    <app-loader></app-loader>
  </div>
  <mat-drawer-content *ngIf="productHistory"
  [ngStyle]="{
    backgroundImage: 'url(../../../../assets/images/doitwise-background.jpg)',
    backgroundSize: 'cover',
    zIndex: -1
  }">
    <h2 style="margin-left: 20px; display: inline-block;">{{ productHistory?.productInfo?.name }}</h2>
    <button class="back" (click)="navigateBack(productHistory.productInfo.id)" mat-raised-button color="primary">Back</button>
    <h3 style = "margin-left:12%">Vendor: {{ productHistory?.productInfo?.vendor }}</h3>
    <h3 style = "margin-left:12%">Version: {{ productHistory?.productInfo?.version }}</h3>
    <h3 style = "margin-left:12%">CPE:</h3>

    <div *ngIf="productHistory">
      <h2 style="margin-left: 20px;">History</h2>
      <hr />
      <div
        *ngFor="let historyEntry of productHistory?.data.reverse() | paginate
        : {
            itemsPerPage: itemsPerPage,
            currentPage: page
          }"
        class="example-large-box mat-elevation-z4"
      >
        <div style="width: 100%;">
          <p>User: {{ historyEntry.user.name }}</p>
          <p>CPE: {{ historyEntry.assignedCpe.title }}</p>
          <p>
            CVES: {{ historyEntry.assignedCveIds }} - ({{
              getCvesNumber(historyEntry)
            }})
          </p>
          <p style='display: inline-block;'>Assigned On: {{ historyEntry.assignedOn | date: "yyyy-MM-dd" }}</p>
          <button class="save" (click)="onAttach(historyEntry)" mat-raised-button color="primary">Attach</button>
        </div>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
