.example-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid #555;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
  }
  
  .example-large-box {
    height: auto;
    width: 95%;
  }

  section {
    display: table;
    margin: 8px;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }

  .mat-drawer-content{
    overflow-x: hidden;
  }

  .save {
    margin-left: 75%;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    margin-top: 0px;
    background-color: crimson;
  }

  .back {
    margin-left: 84%;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    margin-top: 0px;
    background-color: crimson;
  }