<div class="register-form-content">
  <div class="loader-space" *ngIf="!settings">
    <app-loader></app-loader>
  </div>
  <form *ngIf="settings" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>SMTP Host</mat-label>
      <input #hostInput matInput placeholder="example: smtp.mailtrap.io" />
      <mat-hint>Current: {{ settings.host }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Port</mat-label>
      <input
        #portInput
        matInput
        [formControl]="portFormControl"
        [errorStateMatcher]="matcher"
        placeholder="example: 2525"
      />
      <mat-hint>Current: {{ settings.port }}</mat-hint>
      <mat-error *ngIf="portFormControl.errors?.minlength">
        Please enter a valid port
      </mat-error>
      <mat-error *ngIf="portFormControl.hasError('required')">
        Port is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input
        #usernameInput
        matInput
        [formControl]="usernameFormControl"
        [errorStateMatcher]="matcher"
        placeholder="your username"
      />
      <mat-hint>Current: {{ settings.username }}</mat-hint>
      <mat-error
        *ngIf="
          usernameFormControl.errors?.minlength ||
          usernameFormControl.errors?.maxlength
        "
      >
        Username must be between 2 and 20 characters!
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        #passwordInput
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
      />
      <mat-hint>Current: {{ settings.password }}</mat-hint>
      <mat-error *ngIf="passwordFormControl.errors?.minlength">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" style="margin-top: 20px;">
      <mat-label>Admin Email</mat-label>
      <input
        #emailInput
        matInput
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-hint>Current: {{ settings.receiverEmail }}</mat-hint>
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="register-form-button">
      <button
      style="
          font-size: medium;
          padding-left: 30px;
          padding-right: 30px;
          background-color: crimson;
          color: white;
        "
        (click)="
          this.updateSmtpSettings(
            hostInput.value,
            portInput.value,
            usernameInput.value,
            emailInput.value,
            passwordInput.value
          )
        "
        mat-button
        type="button"
      >
        Update
      </button>

      <button
        style="
          font-size: medium;
          padding-left: 30px;
          padding-right: 30px;
          background-color: crimson;
          float: right;
          color: white;
        "
        (click)="resetDefaultSettings()"
        mat-button
        type="button"
      >
        Reset Default
      </button>
    </div>
  </form>
</div>
