<div>
  <div class="sidebar-item">
  <a routerLink="/all-products">
    <mat-icon style="color: rgb(35,53,91)">library_books</mat-icon>
  </a>
</div>
<div class="sidebar-item">
  <a routerLink="/new-product">
    <mat-icon style="color: rgb(35,53,91)">add</mat-icon>
  </a>
</div>
<div class="sidebar-item">
  <a routerLink="/search-results">
    <mat-icon style="color: rgb(35,53,91)">search</mat-icon>
  </a>
</div>
</div>
