
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="text-font" style="cursor: pointer;" routerLink="/dashboard"
          >vulnerabilities</span
        >
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
  
          <a *ngIf="isAdmin" routerLink="/admin" mat-button>
            <mat-icon>font_download</mat-icon>
          </a>

          <a (click)="logoutClicked()" mat-button>
            <mat-icon>account_box</mat-icon>
          </a>
          
          <a>
            Hi, {{ username }}
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
