.text-font {
  font-family: "Gotham Book", Sans-serif;
}

example-container[_ngcontent-lgo-c133]{
  height: auto !important;
}

.inner-container-products{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
