.example-container {
  width: 100%;
  height: 100%;
  min-height: 700px;
  margin: 0px;
  border: 1px solid #555;
}

.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-large-box {
  height: 70%;
  width: 95%;
}

.register-form-content {
  min-height: 300px;
}

.register-form-button {
  margin-top: 50px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.save {
  font-size: medium;
  padding-left: 30px;
  padding-right: 30px;
  background-color: crimson;
  color: white;
  margin-left: 300px;
}
