<div class="register-form-content"
>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input
        #usernameInput
        matInput
        [formControl]="usernameFormControl"
        [errorStateMatcher]="matcher"
        placeholder="your username"
      />
      <mat-hint>Username must be between 2 and 20 characters!</mat-hint>
      <mat-error
        *ngIf="
          usernameFormControl.errors?.minlength ||
          usernameFormControl.errors?.maxlength
        "
      >
        Username must be between 2 and 16 symbols!
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <p></p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        #passwordInput
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
      />
      <mat-hint
        >The password must be minimum five characters, at least five letters and
        one number up to 32 symbols!</mat-hint
      >
      <mat-error *ngIf="passwordFormControl.errors?.minlength">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" style="margin-top: 20px;">
      <mat-label>Email</mat-label>
      <input
        #emailInput
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-hint>E-mail must be up to 60 symbols</mat-hint>
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="register-form-button">
      <button
        mat-button
        type="button"
        class="save"
        (click)="
          this.register(
            usernameInput.value,
            passwordInput.value,
            emailInput.value
          )
        "
      >
        Register
      </button>
    </div>
  </form>
</div>
