.example-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid #555;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    cursor: pointer;
    height: 85%;
    width: 75%;
    margin-top: 5%;
    margin-left: 10%;
  }

  .mat-drawer-content{
    overflow-y: hidden;
  }

  .dashboard-main{
    background-repeat: no-repeat;
  }

  .all-products{
    /* margin-left: 260px; */
    min-height: 350px;
    color:   crimson;
  }

  .inner-circles{
    margin-left: 150px;
    margin-top: 200px;
    font-size: 1.5em;
    font-weight: bolder;
    color:  crimson;;
  }

  .without-cve{
    margin-left: 80px;
    /* margin-top: 30%; */
  }