<app-header></app-header>

<mat-drawer-container style="height: auto !important; min-height: 563px;" class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div
      (click)="redirectToAllProducts()"
      [ngStyle]="{
      backgroundImage: 'url(../../../../assets/images/hive.jpg)',
      backgroundSize: 'cover'
    }"
      class="example-large-box mat-elevation-z4"
    >
      <div class="dashboard-main">
        <div class="all-products">
          <h2 style="text-align: center; margin-left: 130px;">{{ allProductsLength }} Total Products</h2>
          <div class="inner-circles">
            <span>{{ withCveLength }} With Cve</span>
            <span class="without-cve">{{ withoutCveLength }} Without Cve</span>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
