<body class="html, body" ><div
  class="example-large-box mat-elevation-z4"
  style="text-align: center; margin-top: 100px;"
>
  <div>
    <img src="./../../../assets/images/vulnerabilities.jpg" height="400px" />
  </div>

  <div style="margin-left: 250px;">
    <p>Please fill the form to log in...</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          #usernameInput
          matInput
          [formControl]="usernameFormControl"
          placeholder="your username"
        />

        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <p></p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          #passwordInput
          matInput
          [formControl]="passwordFormControl"
        />

        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button class="save"
      mat-button
      type="button"
      (click)="this.login(usernameInput.value, passwordInput.value)"
    >
      Login
    </button>
  </div>
</div>
</body>
