html, body {
  height: 100%;
  background-color: rgb(35,53,91);
  overflow: hidden;
} 

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
  }

  .save {
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    background-color: crimson;
    color: white
  }