<mat-tab-group dynamicHeight>
  <mat-tab label="CPEs">
    <div
      *ngFor="
        let cpe of productDetails?.cpes
          | paginate
            : {
                id: 'pagination1',
                itemsPerPage: itemsPerPage,
                currentPage: pageCpe
              }
      "
    >
      <div class="example-large-box mat-elevation-z4" (click)="onCpeChosen(cpe)">
        <div class="inner-container-products">
          <span style="font-size: large">{{ cpe?.title || cpe?.name + " " + cpe?.version }}</span>
        </div>
        <mat-icon style="color: crimson;" *ngIf="chosenCpe?.id === cpe.id">check_box</mat-icon>
        <mat-icon style="color: crimson;" *ngIf="!chosenCpe || chosenCpe?.id !== cpe.id"
          >check_box_outline_blank</mat-icon
        >
      </div>
    </div>
    <pagination-controls
      id="pagination1"
      (pageChange)="pageCpe = $event"
    ></pagination-controls>
  </mat-tab>

  <mat-tab *ngIf="chosenCpe && cves" label="CVEs">
    <div
      *ngFor="
        let cve of cves
          | paginate
            : {
                id: 'pagination2',
                itemsPerPage: itemsPerPage,
                currentPage: pageCve
              }
      "
      class="example-large-box mat-elevation-z4"
    >
      <div style="width: 100%;" (click)="onCveChosen(cve)">
        <div style="font-size: large">{{ getCveId(cve) }}  Severity - {{ getCveSeverity(cve) }}</div>
        <p>{{ getCveDescription(cve) }}</p>
        <mat-icon style="color: crimson;" *ngIf="isCveChosen(cve)">check_box</mat-icon>
        <mat-icon style="color: crimson;" *ngIf="!isCveChosen(cve)">check_box_outline_blank</mat-icon>
      </div>
    </div>
    <pagination-controls
      id="pagination2"
      (pageChange)="pageCve = $event"
    ></pagination-controls>
  </mat-tab>
</mat-tab-group>
