.example-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid #555;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
  }
  
  .example-large-box {
    cursor: pointer;
    height: auto;
    width: 95%;
  }

  .example-large-box:hover {
    background-color: lightgray;
  }

  section {
    display: table;
    margin: 8px;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 470px;
  }

  .inner-container-products{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: left;
  }