.footer {
    /* position:fixed; */
    /* position: fixed; */
    /* opacity: 0.5; */
    bottom: 0;
    /* margin-top: 50px; */
    left: 0px;
    /* bottom:0px; */
    height: 50px;
    width: 100%;
    background-color: rgb(35,53,91);
    overflow: hidden;
    /* margin-top: 100px; */
  }

  .footer-logo{
    color: white;
    font-size: 15px;
    float: right;
    margin-top: 17px;
    margin-right: 10px;
  }