<div>
  <footer class="footer">
    <img
      src="../../../../assets/images/doitwise-logo.jpg"
      alt=""
      height="50px"
    />
    <span class="footer-logo">Made By Lora Hristova & Bojidar Yordanov</span>
  </footer>
</div>
