<app-header></app-header>

<mat-drawer-container class="example-container" style="height: auto !important; min-height: 563px;">
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content style="margin-left: 66px;"
  [ngStyle]="{
    backgroundImage: 'url(../../../../assets/images/doitwise-background.jpg)',
    backgroundSize: 'cover',
    zIndex: -1
  }">
    <div class="loader-space" *ngIf="!productDetailsData">
      <app-loader></app-loader>
    </div>
    <div *ngIf="productDetailsData" class="product-details-content">
      <h2 style="margin-left: 20px; display: inline-block;">{{ productDetailsData?.name }}</h2>
      <button class="save" style=""(click)="onSave()" mat-raised-button color="primary">Save</button>
      <button style="font-size: medium; padding-left: 30px; padding-right: 30px; background-color: crimson;" (click)="showHistory()" mat-raised-button color="primary">History</button>
      <h3 style = "margin-left:12%">vendor: {{ productDetailsData?.vendor }}</h3>
      <h3 style = "margin-left:12%">version: {{ productDetailsData?.version }}</h3>
      <h3 style = "margin-left:12%">CPE: {{ productDetailsData?.cpe?.title }}</h3>
      <app-product-cpe-cve
        (dataChange)="handleDataChange($event)"
        [productId]="productDetailsData?.id"
        [productDetails]="productDetailsData"
      ></app-product-cpe-cve>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
