.loader-space{
  margin-left: 30%;
  margin-top: 15%;
}

.save {
  margin-left: 75%;
  font-size: medium;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  background-color: crimson;
}

.back {
  margin-left: 75%;
  font-size: medium;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  margin-top: 0px;
  background-color: crimson;
}