.example-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid #555;
  }

  .example-small-box, .example-large-box {
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 30px;
    border-radius: 8px;
    margin-left: 230px;
    margin-top:100px;
    background-color: white;
  }
  
  .example-large-box {
    height: 90%;
    width: 60%;
  }

  .add {
    margin-left: 82%;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    margin-top: 0px;
    background-color: crimson;
    color: white
  }