<app-header></app-header>

<mat-drawer-container class="example-container" style="height: auto !important; min-height: 563px;"
[ngStyle]="{
  backgroundImage: 'url(../../../../assets/images/doitwise-background.jpg)',
  backgroundSize: 'cover'
}">
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <div class="example-large-box mat-elevation-z4">
        <div >
          <p>Please fill in the form to add a new product...</p>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Product name</mat-label>
              <input
                [(ngModel)]="nameText"
                #productName
                matInput
                [formControl]="productNameFormControl"
                placeholder="Product name"
              />

              <mat-error *ngIf="productNameFormControl.hasError('required')">
                Product name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>

          <p></p>

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Vendor</mat-label>
              <input
                [(ngModel)]="vendorText"
                #vendor
                matInput
                [formControl]="vendorFormControl"
              />

              <mat-error *ngIf="vendorFormControl.hasError('required')">
                Vendor is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>

          <p></p>

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Version</mat-label>
              <input
                [(ngModel)]="versionText"
                #version
                matInput
                [formControl]="versionFormControl"
              />

              <mat-error *ngIf="versionFormControl.hasError('required')">
                Version is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </div>

    <button
      mat-button
      type="button" class="add"
      (click)="this.addProduct(productName.value, vendor.value, version.value )"
    >
      Add product
    </button>
  </div>
</mat-drawer-container>

<app-footer></app-footer>
