.example-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid #555;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
  }
  
  .example-large-box {
    height: auto;
    width: 95%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-large-box{
    cursor: pointer;
  }

  .example-large-box:hover {
    background-color: lightgray;
  }

  .mat-drawer-content{
    overflow-x: hidden;
  }

  .product-item{
    margin-left: 15px;
  }