<app-header></app-header>

<mat-drawer-container style="height: auto !important; min-height: 563px;" class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content style="margin-left: 66px; height: 560px;"
  >
    <h2 style="display: inline-block;">Search</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>search</mat-label>
        <input style="display: inline-block;"
          matInput
          (keyup.enter)="doSearch()"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="searchText"
        />
        <mat-hint align="end"><strong>Use * for wildcards</strong> </mat-hint>
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-label>Choose search option</mat-label>
      <mat-select matNativeControl [(ngModel)]="searchBy" required>
        <mat-option value="name">Product name</mat-option>
        <mat-option value="vendor">Product vendor</mat-option>
        <mat-option value="version">Product version</mat-option>
        <mat-option value="cpe">CPE</mat-option>
        <mat-option value="cve">CVE ID</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="searching">
      <app-loader></app-loader>
    </div>
    <div *ngIf="productsData">
      <div
        *ngFor="
          let product of productsData
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page
                }
        "
      >
        <div
          (click)="navigateToDetailsPage(product)"
          class="example-large-box mat-elevation-z4"
        >
          <h3>{{ product.name }}</h3>
          <p class="product-item">Vendor: {{ product.vendor }}</p>
          <p class="product-item">Version: {{ product.version }}</p>
        </div>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
