.example-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 1px solid #555;
}

.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.inner-container-products{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.example-large-box {
  cursor: pointer;
  height: auto;
  width: 95%;
  background-color: white;
}

.example-large-box:hover {
  background-color: lightgray;
}

.product-item {
  margin-left: 15px;
}
