<app-header></app-header>

<mat-drawer-container
  class="example-container"
  style="height: auto !important; min-height: 563px;"
>
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content
    [ngStyle]="{
      backgroundImage: 'url(../../../../assets/images/doitwise-background.jpg)',
      backgroundSize: 'cover',
      zIndex: -1
    }"
  >
    <h2 style="margin-left: 20px;">Products</h2>

    <div class="products" style="z-index: 100;" *ngIf="allProducts">
      <mat-tab-group dynamicHeight>
        <mat-tab [label]="getLabel(ALL_PRODUCTS)">
          <div
            *ngFor="
              let product of allProducts
                | paginate
                  : {
                      id: 'pagination1',
                      itemsPerPage: itemsPerPage,
                      currentPage: pageAllProducts
                    }
            "
          >
            <div
              (click)="navigateToProductDetails(product)"
              class="example-large-box mat-elevation-z4"
            >
              <div class="inner-container-products">
                <h3>{{ product?.name }}</h3>
                <p class="product-item">vendor: {{ product?.vendor }}</p>
                <p class="product-item">version: {{ product?.version }}</p>
              </div>
              <mat-icon style="color: crimson;" *ngIf="isWithCve(product)"
                >check_box</mat-icon
              >
              <mat-icon style="color: crimson;" *ngIf="!isWithCve(product)"
                >check_box_outline_blank</mat-icon
              >
              <!-- <mat-icon style="color: crimson;" class="product-item"
                >check_box_outline_blank</mat-icon
              > -->
            </div>
          </div>
          <pagination-controls
            id="pagination1"
            (pageChange)="pageAllProducts = $event"
          ></pagination-controls>
        </mat-tab>
        <mat-tab [label]="getLabel(WITH_CVE)">
          <div
            *ngFor="
              let product of productsWithCve
                | paginate
                  : {
                      id: 'pagination2',
                      itemsPerPage: itemsPerPage,
                      currentPage: pageWithCve
                    }
            "
          >
            <div
              (click)="navigateToProductDetails(product)"
              class="example-large-box mat-elevation-z4"
            >
              <div class="inner-container-products">
                <h3>{{ product?.name }}</h3>
                <p class="product-item">Vendor: {{ product?.vendor }}</p>
                <p class="product-item">Version: {{ product?.version }}</p>
              </div>
              <mat-icon style="color: crimson;" class="product-item"
                >check_box</mat-icon
              >
            </div>
          </div>
          <pagination-controls
            id="pagination2"
            (pageChange)="pageWithCve = $event"
          ></pagination-controls>
        </mat-tab>
        <mat-tab [label]="getLabel(WITHOUT_CVE)">
          <div
            *ngFor="
              let product of productsWithoutCve
                | paginate
                  : {
                      id: 'pagination3',
                      itemsPerPage: itemsPerPage,
                      currentPage: pageWithoutCve
                    }
            "
          >
            <div
              (click)="navigateToProductDetails(product)"
              class="example-large-box mat-elevation-z4"
            >
              <div class="inner-container-products">
                <h3>{{ product?.name }}</h3>
                <p class="product-item">Vendor: {{ product?.vendor }}</p>
                <p class="product-item">Version: {{ product?.version }}</p>
              </div>
              <mat-icon style="color: crimson;" class="product-item"
                >check_box_outline_blank</mat-icon
              >
            </div>
          </div>
          <pagination-controls
            id="pagination3"
            (pageChange)="pageWithoutCve = $event"
          ></pagination-controls>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="!productsWithCve || !productsWithoutCve || !allProducts">
      <app-loader></app-loader>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
