<app-header></app-header>

<mat-drawer-container
  class="example-container"
  style="height: auto !important; min-height: 563px;"
>
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content
    class="example-container"
    style="height: auto !important; min-height: 563px;"
    [ngStyle]="{
      backgroundImage: 'url(../../../../assets/images/doitwise-background.jpg)',
      backgroundSize: 'cover',
      zIndex: -1
    }"
  >
    <h2 style="margin-left: 20px;">Admin</h2>

    <mat-tab-group dynamicHeight>
      <mat-tab label="SMTP settings">
        <div class="example-large-box mat-elevation-z4">
          <app-settings></app-settings>
        </div>
      </mat-tab>

      <mat-tab label="Register user">
        <div class="example-large-box mat-elevation-z4">
          <app-register></app-register>
        </div>
      </mat-tab>

      <mat-tab label="Database">
        <div class="example-large-box mat-elevation-z4">
          <div>
            <button
              style="
                font-size: medium;
                color: white;
                background-color: crimson;
              "
              mat-button
              type="button"
              (click)="populateDatabase()"
            >
              Populate Database
            </button>
            <p class="time-warning">*this may take ~1 hour</p>
            <p class="time-warning">
              **it will use cpe.json in main project folder
            </p>
          </div>

          <div style="margin-left: 200px; margin-bottom: 30px;">
            <button
              mat-button
              (click)="updateDatabase()"
              class="save"
              type="button"
            >
              Update Database
            </button>
            <span style="margin-top: 20px" class="time-warning"
              >*last update on: {{ settings?.updateDate | date: "yyyy-MM-dd" }}
            </span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
