.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 1%;
    margin-left: 12%;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
  }
  
  .example-large-box {
    height: auto;
    width: 70%;
  }

  .save {
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    background-color: crimson;
    color: white;
    margin-left: 20px;
  }

  .time-warning{
    margin-left: 10px;
    font-size: smaller;
    display: block;
    font-style: italic;
  }

  .updateSMTP {
    margin-left: 82%;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    margin-top: 0px;
    background-color: crimson;
    color: white
  }